
.DragItem {
  position: absolute;
  cursor: move;
  top: 150px;
  left: 520px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#photo{
  top: 20px;
  left: 20px;
}